// Fonts mixin
font-url(file)
  return '/font/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    font-weight weight
    font-style normal
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff2')) format('woff2'),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')

// pallet
bg = #f9f6e7
// bg = #E1EF91
dark = #493A2C
light = #96C040
off = #808C42

webfont('Novecento', 'Novecento/Novecentoslabwide-Normal-webfont', false)

body
  line-height 1.55em
  background bg

h1,h2,h3,h4,h5,h6
  margin .5em 0 0
  border-bottom 1px dashed dark
  color dark
  font-family 'Novecento', Serif
  line-height 1.6em
  a
    display block
    position relative
    margin-left 1em;
    text-decoration none
    color off
    &::before
      content "\000BB"
      position absolute
      left -1em
    &:hover
      color light

h1
  padding-left 1vw
  border-bottom-style: solid;
h2
  padding-left 2vw
h3
  padding-left 3vw
h4
  padding-left 4vw
h5
  padding-left 5vw
h6
  padding-left 6vw

.header-container
  height 100vh
  margin 0
  position relative

  .masthead
    margin 10vh 0
    width 45vw
    display block
    position absolute
    right 51%
    bottom 0
    text-align right
    font-size 5vw
    line-height 8vw

  nav
    height 100%
    position absolute
    left 51%

.main
  min-height 100vh
  margin 0 5vw

article
  display inline-block
  width 100%
  overflow-x scroll
  >*
    margin-left auto
    margin-right auto
  p,ol
    max-width 40em

.hug
  margin-bottom -.5em

footer
  text-align center
  margin 20px auto 0

.column-flex
  display flex
  justify-content center
  flex-wrap wrap
  >div,>pre
    margin-left 2vw
  >div:first-child,>pre:first-child
    margin-left 0

.column
  overflow auto
  .col
    padding 0 1em
    box-sizing border-box
    display block
    float left
  &.two
    .col
      width 50%
  &.three
    .col
      width 33.2%

.tile
  display flex
  flex-direction column
  align-items center
  a
    display flex
    align-items flex-end
    flex 1
    width 30vw
    margin 2.5vh 0
    padding .4em;
    position relative
    text-decoration none
    font 3vw Novecento
    // border-top-right-radius 25px 50px
    border 1px solid dark
    border-top-width 10px
    color dark

    &:nth-child(1):hover
      background-image url("../../img/pattern1.png")
    &:nth-child(2):hover
      background-image url("../../img/pattern2.png")
    &:nth-child(3):hover
      background-image url("../../img/pattern3.png")
    &:nth-child(4):hover
      background-image url("../../img/pattern4.png")

.small-header
  padding 1vw
  display flex
  align-self center
  justify-content center

.small-header
  .tile
    display flex
    flex-direction row
    align-self center
    justify-content center

  img
    flex 1
    min-width 80px
    margin-right 2vw

.small-header .tile
  flex 6
  margin 0
  a
    display inline-block
    width auto
    flex 1
    margin .5vh 0 0
    font-size 2vw
    border-left-width 0

    &:nth-child(1)
      border-left-width 1px
  .active
    border-bottom-color: bg

tr
  vertical-align top
  border-left 1px solid dark
  border-bottom 1px solid dark
  &:first-child
    border-top 1px solid dark
  &:hover
    background-color light
  :first-child
    vertical-align middle
    text-align center
  td,th
    padding .2em .8em
    border-right 1px solid dark
  td[colspan]
    text-align center

.code-responsive
  font-family monospace,serif
code
  min-width 15em
  position: relative
  &[data-lang]
    padding-top 1.5em !important
  &::before
    content attr(data-lang)
    position absolute
    top 0
    left 0
    font-family 'Novecento', Serif

.logo
  width 10vw

.split-background-line
  position relative
  margin 40px 0
  &::before
    content ""
    display block
    width 0
    height 105%
    position absolute
    left 50%
    top -5%
    border-right 2px dashed dark
    opacity 0.35

a[href='#none']
  cursor default
  &:hover
    background inherit

@media print
  .small-header
    display none
