font-face(name, style, url)
  font-family name
  font-style style
  src url(url)

@import "theme/colours-default"

@font-face
  font-face 'Homestead', 'Normal', '/font/Homestead-inline.ttf'
@font-face
  font-face 'Homestead-one', 'Normal', '/font/Homestead-one.ttf'
@font-face
  font-face 'Homestead-two', 'Normal', '/font/Homestead-two.ttf'
@font-face
  font-face 'Homestead-three', 'Normal', '/font/Homestead-three.ttf'

.main
  width 780px
  min-height 100vh
  margin 0 auto

  h1,h2,h3,h4,h5,h6
    margin 0
    font-family Homestead, Serif
    border-bottom 1px solid dark
    color dark

.header-container
  height 100vh
  margin 0
  position relative

  .masthead
    margin 10vh 0
    display block
    position absolute
    right 51%
    bottom 0
    text-align right

  nav
    position absolute
    left 51%

article
  overflow auto
  margin 0 30px

.column
  overflow auto
  .col
    padding 0 1em
    box-sizing border-box
    display block
    float left
  &.two
    .col
      width 50%
  &.three
    .col
      width 33.2%

.tile
  margin 7.5vh 0 10vh
  a
    display block
    width w = 30vw
    height 25vh
    margin 2.5vh 0 0
    position relative
    text-decoration none
    font 3vw Homestead
    border-top-right-radius 25px 50px
    border 1px solid dark
    color dark

    &:nth-child(1):hover
      background-image url("../../img/pattern1.png")
    &:nth-child(2):hover
      background-image url("../../img/pattern2.png")
    &:nth-child(3):hover
      background-image url("../../img/pattern3.png")

    span
      position absolute
      bottom w*.1
      left w*.1

.masthead
  font 10vw Homestead, Monospace
  color dark
  &::before,&::after
    content attr(text)
    position absolute
    top 0
    left 0
  &::before
    font-family Homestead-two
    color off
  &::after
    font-family Homestead-three
    color light
