font-face(name, style, url)
  font-family name
  font-style style
  src url(url)

// pallet
bg = #f9f6e7
// bg = #E1EF91
dark = #493A2C
light = #96C040
off = #808C42

@font-face
  font-face 'Homestead', 'Normal', '/font/Homestead-inline.ttf'
@font-face
  font-face 'Homestead-one', 'Normal', '/font/Homestead-one.ttf'
@font-face
  font-face 'Homestead-two', 'Normal', '/font/Homestead-two.ttf'
@font-face
  font-face 'Homestead-three', 'Normal', '/font/Homestead-three.ttf'

body
  background bg

.header-container header
  position relative
  display block

.title
  scale = 1900
  width (scale * 0.66)px
  position relative
  font (scale/10)px Homestead, mono
  color dark
  &::before,&::after
    content attr(text)
    position absolute
    top 0
    left 0
  &::before
    font-family Homestead-two
    color off
  &::after
    font-family Homestead-three
    color light